{% assign image = page.footer | default: site.footer %}
{% assign dark = page.footer-dark | is_nil: site.footer-dark | is_nil: true %}

<footer
  class="background"
  style="--image: url('{{ image | relative_url | uri_escape }}')"
  {% if dark == true or dark == false %}
    data-dark="{{ dark }}"
  {% endif %}
  data-size="wide"
>
  <div class="footer-left">
    <a class="footer-logo-link" href="https://neurology.uchicago.edu/" target="_blank" rel="noopener noreferrer" aria-label="University of Chicago Department of Neurology">
      <img src="{{ 'images/Uchicago_neurology.png' | relative_url | uri_escape }}" alt="UChicago Neurology">
    </a>
  </div>

  <div class="footer-center">
    <div>
      {% for link in site.links %}
        {% assign key = link[0] %}
        {% assign value = link[1] %}
        {% include button.html type=key text="" link=value style="bare" %}
      {% endfor %}
    </div>

    <div class="footer-credit-block">
      <div class="footer-credit">
        &copy; {{ site.time | date: "%Y" }}
        {{ site.title }}
      </div>
      <div class="footer-credit-row">
        <div class="footer-credit">
          Built with
          <a href="https://github.com/greenelab/lab-website-template">Lab Website Template</a>
        </div>
        <input
          type="checkbox"
          class="dark-toggle"
          data-tooltip="Dark mode"
          aria-label="toggle dark mode"
          oninput="onDarkToggleChange(event)"
        >
      </div>
    </div>
  </div>

  <div class="footer-right">
    <a class="footer-logo-link" href="https://neuroscience.uchicago.edu/neuroscience-institute" target="_blank" rel="noopener noreferrer" aria-label="The University of Chicago Neuroscience Institute">
      <img src="{{ 'images/neuro_institute.png' | relative_url | uri_escape }}" alt="Neuroscience Institute">
    </a>
    <a class="footer-logo-link" href="https://neuroscience.uchicago.edu/center-motor-neuron-disease" target="_blank" rel="noopener noreferrer" aria-label="The University of Chicago Center for Motor Neuron Disease">
      <img src="{{ 'images/center_logo.png' | relative_url | uri_escape }}" alt="Center Logo">
    </a>
  </div>

</footer>
