{% if include.lookup %}
  {% assign post = site.posts 
    | where_exp: "post", "post.slug == include.lookup"
    | first
    | default: include
  %}
{% else %}
  {% assign post = include %}
{% endif %}

<div class="post-excerpt-container">
  <div class="post-excerpt">
    {% assign url = "" %}
    {% if post.url and post.url != blank %}
      {% assign url = post.url | relative_url | uri_escape %}
    {% endif %}
    {% assign title = post.title %}
    {% assign image = "" %}
    {% if post.image and post.image != blank %}
      {% assign image = post.image | relative_url | uri_escape %}
    {% endif %}

    {% if include.hide_image != true and image != blank %}
      <a
        href="{{ url }}"
        class="post-excerpt-image"
        aria-label="{{ title | default: "excerpt link" | regex_strip }}"
      >
        <img
          src="{{ image }}"
          alt="{{ title | default: "excerpt image" | regex_strip }}"
          loading="lazy"
          {% include fallback.html %}
        >
      </a>
    {% endif %}

    <div class="post-excerpt-text">
      {% if url and url != "" %}
        <a href="{{ url }}" class="post-excerpt-title">{{ title }}</a>
      {% else %}
        <span class="post-excerpt-title">{{ title }}</span>
      {% endif %}

      {%
        include post-info.html
        author=post.author
        published=post.date
        updated=post.last_modified_at
        tags=post.tags
      %}

      {% assign excerpt = post.content
        | default: ""
        | regex_scan: "<!-- excerpt start -->(.*)<!-- excerpt end -->", true
        | default: post.excerpt
        | default: ""
        | strip_html
      %}
      {% assign search = post.content
        | strip_html
        | strip_newlines
        | regex_strip
      %}
      {% if excerpt and excerpt != "" %}
        <p data-search="{{ search }}">
          {{ excerpt }}
        </p>
      {% endif %}
    </div>
  </div>
</div>
